<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->


<!--<body>-->
<!--<h3>Sign in</h3>-->
<!--<div class="container">-->
<!--    <form class="form-signin" method="get" action="/api/v1/login">-->
<!--        <p>-->
<!--            <label for="username">Pin</label>-->
<!--            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>-->
<!--        </p>-->
<!--        <p>-->
<!--            <label for="password">Password</label>-->
<!--            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>-->
<!--        </p>-->
<!--        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->